boto3==1.9.4
botocore==1.12.4
Flask==1.0.2
ffmpeg==1.4
ffmpeg-python==0.1.17
ffmpy==0.2.2
google-cloud-storage==1.15.0
gcloud==0.17.0
google-api-core==1.10.0
google-auth==1.6.3
pytube==9.5.0
urllib3==1.24.2
youtube-dl==2019.4.30